name: PixelOS 15 Mondrian Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 360

    steps:
      - name: Aggressive Cleanup
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache
          sudo apt clean
          df -h

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git-core gnupg flex bison build-essential zip curl \
          zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 \
          libncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev \
          libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig python3

      - name: Install repo tool
        run: |
          sudo curl https://storage.googleapis.com/git-repo-downloads/repo -o /usr/local/bin/repo
          sudo chmod a+x /usr/local/bin/repo

      - name: Init PixelOS 15
        run: |
          mkdir pixel
          cd pixel
          repo init -u https://github.com/PixelOS-AOSP/manifest -b fifteen

      - name: Sync Source
        run: |
          cd pixel
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune -j2

      - name: Build for mondrian
        run: |
          cd pixel
          export BUILD_USERNAME=LF5
          source build/envsetup.sh
          lunch aosp_mondrian-userdebug
          make -j2
