name: PixelOS Mondrian Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    steps:
      - name: Free Disk Space
        run: |
          echo "Before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo docker system prune -af
          echo "After cleanup:"
          df -h

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y git-core gnupg flex bison build-essential zip curl \
          zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 \
          libncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev \
          libgl1-mesa-dev libxml2-utils xsltproc unzip fontconfig python3

      - name: Install repo tool
        run: |
          sudo curl https://storage.googleapis.com/git-repo-downloads/repo -o /usr/local/bin/repo
          sudo chmod a+x /usr/local/bin/repo
          repo --version

      - name: Init PixelOS sixteen-qpr2
        run: |
          mkdir pixel
          cd pixel
          repo init -u https://github.com/PixelOS-AOSP/android_manifest.git -b sixteen-qpr2 --depth=1

      - name: Sync Source
        run: |
          cd pixel
          repo sync -c --no-clone-bundle --no-tags --optimized-fetch --prune -j4

      - name: Build for mondrian
        run: |
          cd pixel
          source build/envsetup.sh
          lunch aosp_mondrian-userdebug
          make -j4
