name: Test Server

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Show system info
        run: |
          echo "CPU:"
          nproc
          echo "RAM:"
          free -h
